body {
    background: #fafafa;
}

.adm-depoimento {
    width: 615px;
    height: 500px;
    float: right;
}

#adm-container {
    width: 1320px;
    margin: auto;
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#container-depoimento {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 615px;
    height: 310px;
}

.container-p-depoimento {
    width: 580px;
    height: 175px;
    padding: 10px;
    text-align: center;
    display: table;
}

.box-depoimento {
    height: 175px;
}

.p-depoimento {
    display: inline-block;
    vertical-align: middle;
    height: 120px;
}

.btn-logout {
    width: 250px;
    height: 50px;
    background-color: #472f4c;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    margin: auto;
}

.adm-cadastro {
    width: 535px;
    height: 550px;
    display: inline-block;
}

.adm-cadastro h1 {
    text-align: left;
}
