.depoimento .control-next:before {
    content: url('../images/arrowNextDesktop.svg') !important;
}

.depoimento .control-prev:after {
    content: url('../images/arrowPrevDesktop.svg') !important;
}

.depoimento .slide.selected {
    align-items: center;
    height: 305px;
    margin: 32px;
}

.depoimento .carousel .control-arrow,
.depoimento .carousel.carousel-slider .control-arrow {
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    position: absolute;
    top: 20px;
    background: none;
    border: 0;
    font-size: 32px;
    cursor: pointer;
    z-index: 0;
}
.depoimento .carousel .control-arrow:before,
.depoimento .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.depoimento .carousel .control-disabled.control-arrow {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: inherit;
    display: none;
}
.depoimento .carousel .control-prev.control-arrow {
    left: 0;
}
.depoimento .carousel .control-next.control-arrow {
    right: 0;
}

.depoimento .carousel {
    position: relative;
    width: 100%;
}
.depoimento .carousel * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.depoimento .carousel img {
    width: 100%;
    display: inline-block;
    pointer-events: none;
}
.depoimento .carousel .carousel {
    position: relative;
}
.depoimento .carousel .control-arrow {
    outline: 0;
    border: 0;
    background: none;
    top: 50%;
    margin-top: -13px;
    font-size: 18px;
}
.depoimento .carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden;
    z-index: 0;
}
.depoimento .carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
}
.depoimento .carousel.carousel-slider .control-arrow:hover {
    background: rgba(161, 116, 170, 0.3);
}

.depoimento .carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 1060px;
    -webkit-transition: height 0.15s ease-in;
    -moz-transition: height 0.15s ease-in;
    -ms-transition: height 0.15s ease-in;
    -o-transition: height 0.15s ease-in;
    transition: height 0.15s ease-in;
}
.depoimento .carousel .slider-wrapper.axis-horizontal .slider {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
.depoimento .carousel .slider-wrapper.axis-horizontal .slider .slide {
    flex-direction: column;
}
.depoimento .carousel .slider-wrapper.axis-vertical {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
.depoimento .carousel .slider-wrapper.axis-vertical .slider {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.depoimento .carousel .slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%;
}
.depoimento .carousel .slider.animated {
    height: 310px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.depoimento .carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
}
.depoimento .carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
}
.depoimento .carousel .slide iframe {
    display: inline-block;
    width: calc(100% - 80px);
    border: 0;
}

.depoimento .control-dots,
.depoimento .carousel-status {
    display: none;
}

.depoimento #depoimento-container {
    background-color: #ece3ee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 790px;
}

.depoimento #title-depoimento {
    font-size: 36px;
    margin-top: 120px;
}

.depoimento .carousel-root {
    outline: none;
    margin-top: 70px;
    height: 305px;
    width: 1260px;
}

.depoimento .ds_depoimento {
    margin: 0 auto;
    width: 1060px;
    z-index: -1;
}

@media (max-width: 960px) {
    .depoimento .ds_depoimento {
        width: 17.625rem;
    }
    .depoimento .carousel-root {
        width: 100%;
        margin-top: 1.5rem;
        height: 16.625rem;
        /* width: 21.25rem; */
    }
    .depoimento #title-depoimento {
        font-size: 2rem;
        margin-top: 2.25rem;
    }
    .depoimento #depoimento-container {
        height: 28.5rem;
    }
    .depoimento .carousel .slider-wrapper {
        width: 17.625rem;
        height: 14.25rem;
    }
    .depoimento .control-next:before {
        content: url('../images/arrowNextMobile.svg') !important;
    }

    .depoimento .control-prev:after {
        content: url('../images/arrowPrevMobile.svg') !important;
    }
    .depoimento .depoimento-text {
        height: 14.25rem;
        font-size: 0.75rem;
        margin: auto 2rem;
        align-self: center center;
    }

    .depoimento .slide.selected {
        align-items: center;
        height: 14.25rem;
    }
}
