.violeta-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #472f4c;
    padding-bottom: 1px;
  }
  
  .container-footer {
    display: flex;
    max-width: 760px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }
  
  .footer-banner {
    flex: 1;
    align-self: center;
    font-size: 14px;
  }
  
  .footer-banner ul {
    color: white;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .footer-banner ul li {
    align-content: center;
    text-align: center;
  }
  
  .footer-banner ul li img {
    margin: 0 auto;
  }
  

  @media(max-width:960px){   
  
    .footer-banner ul img{
      height: 22px;
      margin-bottom: 6px;
    }
    .footer-banner p{
      font-size: 10px;
      text-align: center; 
    }
    .footer-banner{
      margin: 0px 40px;
    }
    .footer-banner a{
      margin: 6px;      
    }
    /* .container-footer{
      margin: 0;
    } */
  }