.graficos{
    min-height: 610px;
    background-color: #FEEFE8;
}
.container-violencia{
    width: 1300px;
    margin: 0 auto;
}
.container-box-violencia{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0px auto;
    max-width: 1300px;
    padding-right: 20px;
    padding-left: 20px;
}
.box-violencia{
    width: 160px;
    height: 100px;
    background-color: #F78A50;
    text-align: center;
}
#counter{
    font-size: 36px;
    text-shadow: 1px 2px 3px black;
}
#ds-categoria{
    font-size: 24px;
    font-weight: bold;
}

#graphs{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
}