/*Desktop View*/
.header {
  display: flex;
  background: #472f4c;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 60px;
  position: fixed;
  top:0;
  z-index: 5;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .logo {
  width: 45px;
  height: 45px;
} */
.nav-options {
  padding-left: 25px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px;
  list-style-type: none;
}
.mobile-option {
  display: none;
}

.option :hover {
  color: white;
}
/* .signin-up {
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}
.sign-in {
  padding-right: 50px;
  align-self: center;
}
.sign-in :hover {
  color: white;
}
.signup-btn {
  padding: 10px 10px;
  height: 2.4rem;
  border-radius: 3px;
  background: rgb(222, 9, 241);
  color: white;
  cursor: pointer;
  align-items: center;
} */

#logo-container{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
  justify-content: center
}


.logo-nav ul li:nth-child(1){
  background: url('../images/iconQuestionario.svg') no-repeat left center;
  padding: 5px 10px 5px 30px;
  margin: 0;
  vertical-align: middle;
}
.logo-nav ul li:nth-child(2){
  background: url('../images/iconDepoimento.svg') no-repeat left center;
  padding: 5px 10px 5px 30px;
  margin: 0;
  vertical-align: middle;
}
.logo-nav ul li:nth-child(3){
  background: url('../images/iconGrafico.svg') no-repeat left center;
  padding: 5px 10px 5px 30px;
  margin: 0;
  vertical-align: middle;
}
.logo-nav ul li:nth-child(4){
  background: url('../images/iconProfissionais.svg') no-repeat left center;
  padding: 5px 10px 5px 30px;
  margin: 0;
  vertical-align: middle;
}

.mobile-menu{
  display: none;
}

@media (max-width: 960px) {
  /*Mobile View */
  .header {
    padding: 0px 10px;
    height: 50px;
  }

  #logo-container h1{
    display: none;
  }
  .logo h1{
    display: none;
  }
  
  .nav-options {
    display: flex;
    min-width: 254px;
    height: 405px;
    position: absolute;
    top: 50px;
    right: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  
  .nav-options.active {
    background: #472f4c;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }
  
  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 33px 0px;
  }
  .logo-menu{
    display: none;
  }
  .nav-options.active{
    align-items: flex-end;
    padding-right:3.375rem;
    font-size: 1rem;
  }
  .logo-nav ul li:nth-child(1){
    padding-left: 46px;
  }
  .logo-nav ul li:nth-child(2){
    padding-left: 42px;
  }
  .logo-nav ul li:nth-child(3){
    padding-left: 78px;
  }
  .logo-nav ul li:nth-child(4){
    padding-left: 45px;
  }

  .mobile-menu {
    display: block;
  }
}

/*transition: right 360ms linear, margin-left 360ms ease-out;*/