#home {
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  background-image: url(../images/backgroundHomeDesktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  padding-top: 170px;
  padding-left: 110px;
}
#title{
  font-size: 36px;
  margin-bottom: 30px;
  align-content: flex-start;
}

#container p {
  font-size: 14px;
  text-align: left;
  color: black;
  margin-bottom: 50px;
}

#container span {
  font-size: 18px;
  text-transform: uppercase;
  color: #f57029;
}

#btn{
  border: none;
  background-color: #472f4c;
  color: white;
  width: 250px;
  height: 55px;
  padding: 15px 10px;
  border-radius: 2px;
}

#btn:active {
  background-color: rgba(71, 47, 76, 0.3);
}

@media(max-width:800px){
  #home{
    height: 380px;
  }
  #container{
    padding: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #btn{
    margin: 0 auto;
  }
  #container p{
    font-size: 12px;
  }

}