.profissionais{
    background-color: #ECE3EE;
    width: 100%;
    height: 800px;
    font-family: Roboto;
    font-style: normal;
}
#container-title{
    max-height: max-content;
    max-width: 450px;
    padding-left: 25px;
    padding-top: 145px;
    position: absolute;
}
#title{
    font-size: 36px;
}
#description{
    font-size: 16px;
}
/* CONTAINER-PROFISSIONAIS */
#container-profissionais{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
/* BOX-CONTATO */
.box-contact{
    background-color: #F9B18A;
    max-width: 400px;
    max-height: 140px;
    border-radius: 10px;
    margin-left: 25px;
    flex: 1;
    margin-top: 370px;
}
#box-contact-logo{
    background-color: #A174AA;
    width: 130px;
    height: 140px;
    border-radius: 10px;
    margin-right: 10px;
    z-index: -1;
}
#box-contact-text{
    width: max-content; /* 250px */
    padding-top: 20px;
    position: relative;
    left: 140px;
    font-size: 14px;
}
#box-contact-name{
    padding-bottom: 13px;
}
/* NAV */
.list-nav-profissionais{
    display: inline-flex;
    list-style: none;
    float: right;
}
.nav-profissionais{
    flex: 1;
    margin-top: 260px;
    margin-right: 25px;
}
#button-nav-ongs{
    background-color: #764E7E;
    height: 50px;
    width: 165px;
    border-radius: 10px 0px 0px 10px;
    font-size: 18px;
    border-width: 0px 2px 0px 0px;
    border-color: #FEF9FF;
    color: #FEF9FF;
}
#button-nav-ongs:hover{
    cursor: pointer;
}
#button-nav-ongs:active{
    background-color: #472F4C;
    border: none;
}
#button-nav{
    background-color: #764E7E;
    height: 50px;
    width: 165px;
    font-size: 18px;
    border-width: 0px 2px 0px 0px;
    border-color: #FEF9FF;
    color: #FEF9FF;
}
#button-nav:hover{
    cursor: pointer;
}
#button-nav:active{
    background-color: #472F4C;
    border: none;
}
#button-nav-teste{
    background-color: #764E7E;
    height: 50px;
    width: 165px;
    border-radius: 0px 10px 10px 0px;
    font-size: 18px;
    border: none;
    color: #FEF9FF;
}
#button-nav-teste:hover{
    cursor: pointer;
}
#button-nav-teste:active{
    background-color: #472F4C;
    border: none;
}
/* PAGINATION */
.pagination{
    margin-right: 55px;
    width: max-content;
    height: max-content;
}
.pagination a{
    color: black;
    font-size: 14px;
    display: inline;
    padding: 8px 23px;
    flex: 1;
}
