#questionario{
    width: 100%;
    height: 620px;
    background: #feefe8;   
    padding: 0 110px;
}

#titulo{
 width: 100%;
}

#titulo h1{
    font-size: 36px;
    text-align: center;
    padding-top: 70px
}

#questionario p{
    font-size: 16px;
    text-align: left;
}

#btn-enviar{
    width: 165px;
    height: 55px;
    background-color: #764e7e;
    color: white;
    font-size: 18px;
    border:none;
    
}
#container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
}

#formulario{
    flex: 1;
    align-content: flex-start;
    margin-top: 50px;
}

#img-formulario{
    flex: 1;
    align-content: flex-end;   
    margin-top: 10px;
}
#btn-formulario{
    width: 100%;
    text-align: center;
}



